.full-width {
  width: 100%;
  margin-bottom: 15px;
}

.stars {
  display: flex;
  gap: 8px;
  margin: 10px 0;
}

mat-icon {
  font-size: 32px;
  color: lightgray;
  cursor: pointer;
}

mat-icon.filled {
  color: gold;
}
